<!DOCTYPE html>
<html>
  <head>
    <!--<title><%#= full_title(yield(:title)) %></title>-->
    <%= render 'layouts/head' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all',
    'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <% flash.each do |message_type, message| %>
    <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>
    <%= render 'layouts/header' %>
    <div class="container">
    <%= yield %>
    <%= render 'layouts/footer' %>
<!--      这段代码使用rails内置的debug方法和params变量,在各个页面显示一些对开发有帮助的信息-->
    <%=debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
